* {
    color: white;
}

.container h3 {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.title {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

.box-one {
    width: 100%;
}

.box {
    /* width: 100%; */
    height: auto;
    /* margin-right: 200px; */
    margin-left: 50px;

}


/* .image img {
    background: no-repeat center;
    background-size: cover;
    /* background-image: url("../image/perfil.jpg");
    border-radius: 10%;
    width: 350px;
    height: 400px;
}*/

.image img {
    width: 20%;
    height: 20%;
    border: 11px solid rgba(156, 156, 156, 0.5);
    border-radius: 25%;
}

.image {
    display: flex;
    justify-content: center;
}

/* .background-image {
    background: url(../image/home-background.jpg) no-repeat right top fixed;
    border-radius: 1%;
    overflow: hidden;
    margin: 10px;
} */

.next-hove {
    margin-top: 15px;
}

.next-hove :hover {
    background-color: rgb(52, 57, 68);
    border-radius: 5%;
    opacity: 0.7;
}
